<link rel="stylesheet" href="/css/about.css">
<div class="container" id="about">
  <div class="row"> <!--start of row one-->
    <div class="col"> <!--start of row one column-->
      <div class="jumbotron jumbotron-fluid jumbotron-dark">
        <div class="container">
          <h1 class="display-4">About Me</h1>
          <h2 class="lead">Andrew Hardemon: A Full Stack Web Developer</h2>
        </div>
      </div><!--end of jumbotron-->
    </div> <!--end of row one column-->
  </div> <!--end of row one-->

  <div class="row"> <!--start of row two-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="textbox"> <!--start of row two column one-->
      <div class="container" id="description">
        <div class="row">
        <p id="p0">Programming is my passion. There are few moments in the past serveral<br>years where I haven't been programming or learning.
          My experience with programming goes from:</p>
        <div class="row">
          <p id="p1">(1) Working on my own game in Game Maker Studio 2, which uses a <b>JavaScript-like</b> language<br>
          (2) Studying <b>Java</b> at Eastern Kentucky University<br>
          (3) And Completing the University of Arizona's <b>Full Stack Web Development</b> Programming Bootcamp</p>



      <div class="row">
        <p id="p2"><b>My Skills Include (efficiency %):</b><br>
          <b>Languages:</b> JavaScript(100%), HTML(80%), CSS(80%), Express(70%), MongoDB(70%), SQL(60%), Node(70%), React(80%), Handlebars(70%)<br>
          <b>Programming:</b> Git, Bash, Firebase, Bootstrap, Heroku, Mocha, Chai<br>
          <b>Other:</b> Management, Interpersonal Skills, Conflict Resolution, Communication<br>
        </p>
      </div>
            </div><!--end of row two-->

      </div><!--end of form container-->
    </div> <!--end of row one column one-->
  </div> <!--end of row one-->
</div><!--end of container-->
{{!-- 
<script src="../public/js/game.js"></script> --}}
