<div class="container" id="home">
  {{!-- {{> nav}} --}}

  <div class="row"> <!--start of row one-->
    <div class="col"> <!--start of row one column-->
      <div class="jumbotron jumbotron-fluid jumbotron-dark">
        <div class="container">
          <h1 class="display-4">About Me</h1>
          <h2 class="lead">Andrew Hardemon: A Full Stack Web Developer</h2>
        </div>
      </div><!--end of jumbotron-->
    </div> <!--end of row one column-->
  </div> <!--end of row one-->

  <div class="row"> <!--start of row two-->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"> <!--start of row two column one-->
      <div class="container" id="inputs">
        
      </div><!--end of form container-->
    </div> <!--end of row two column one-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><!--start of row two column two-->
      <div class="container" id="outputs">
        
      </div><!--end of outputs container-->
    </div> <!--end of row two column two-->
    
  </div> <!--end of row two-->
</div><!--end of container-->
{{!-- 
<script src="../public/js/game.js"></script> --}}
