{{!-- The Start Page --}}
<div class="container" id="home">
  <div class="row"> <!--start of row one-->
    <div class="col"> <!--start of row one column-->
      <div class="jumbotron jumbotron-fluid jumbotron-dark">
        <div class="container" id="indexIntro">
          <h1 class="display-4">Welcome to my Site</h1>
          <h2 class="lead">Feel free to look around and see my projects</h2>
        </div>
      </div><!--end of jumbotron-->
    </div> <!--end of row one column-->
  </div> <!--end of row one-->

  <div class="row"> <!--start of row two-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <!--start of row two column one-->
      <div class="container" id="project">
        <div class="jumbotron" id="contactInfo">
          <h1 id="titleText">Contact Info</h1>
          <hr>
          <h1 id="contactInfoTag">
            Name: Andrew Hardemon <br>
            Email: andrewhardemon@gmail.com <br>
            Github: <a class="linkText" href="https://github.com/AeroAtlas">https://github.com/AeroAtlas</a> <br>
            LinkedIn: <a class="linkText" href="https://www.linkedin.com/in/andrew-hardemon/">https://www.linkedin.com/in/andrew-hardemon/</a>
          </h1>
          {{!-- <img id="recImg" src="/images/AndrewPicture.jpg"></img> --}}
        </div>
        {{!-- <a id="recLink" href="https://project2beta.herokuapp.com/guestGames?" alt="My Project">
          <img id="recImg" src="/images/projectImg.png" alt="project">
          <img id="recImg2" src="/images/pgsm.png" alt="project-mobile">
        </a> --}}
      </div><!--end of form container-->
    </div> <!--end of row two column one-->
  </div> <!--end of row two-->
</div><!--end of container-->
{{!-- <script src="../public/js/game.js"></script> --}}
