<link rel="stylesheet" href="/css/projects.css">
<div class="container" id="projects">
  <div class="row"> <!--start of row one-->
    <div class="col"> <!--start of row one column-->
      <div class="jumbotron jumbotron-fluid jumbotron-dark">
        <div class="container">
          <h1 class="display-4">My Projects</h1>
          <h2 class="lead">Click here for something special</h2>
        </div>
      </div><!--end of jumbotron-->
    </div> <!--end of row one column-->
  </div> <!--end of row one-->

 <div id="main-container" class="flexcontainer">
    <section class="main-section">
      <div class="card-columns">
        <!-- Start of Col 1 -->
        <div class="col-md-12" id="col1">
        <div class="row">
        <div class="card text-white bg-dark mb-3" style="width: 18rem; height: 28rem;">
          <img src="/images/projects/Scrape-News.png" class="card-img-top" alt="Scrape the News">
          <div class="card-body">
            <h5 class="card-title">Scrape the News</h5>
            <p class="card-text">A web app that grabs articles from NYtimes and lets a user comment</p>
            <a href="https://scrape-the-news-atlas.herokuapp.com/" target="_blank" class="btn btn-primary">Check it out</a>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="card text-white bg-dark mb-3" style="width: 18rem; height: 28rem;">
          <img src="/images/projects/Google-Book.png" class="card-img-top" alt="RPG Game">
          <div class="card-body">
            <h5 class="card-title">Google React Book List</h5>
            <p class="card-text">Let's you search for Books using the Google API</p>
            <a href="https://aeroatlas.github.io/RPG-Game/" target="_blank" class="btn btn-primary">Check it out</a>
          </div>
        </div>
      </div>
    </div>

    <!-- End of Col 1 -->

    <!-- Start of Col 2 -->
    <div class="col-md-12" id="col2">
      <div class="row">
        <div class="card text-white bg-dark mb-3" style="width: 18rem; height: 28rem;">
          <img src="/images/projects/Project-SFW.png" class="card-img-top" alt="Project-SFW">
            <div class="card-body">
              <h5 class="card-title">Project SFW</h5>
              <p class="card-text">A gamified lesson and quiz web app for companies to use</p>
              <a href="https://aeroatlas.github.io/GifTastic/" class="btn btn-primary">Check it out</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; height: 28rem;">
              <img src="/images/projects/TriviaGamePic.png" class="card-img-top" alt="Trivia Game">
              <div class="card-body">
                <h5 class="card-title">Trivia Game</h5>
                <p class="card-text">A timed questionaire game. Guess the correct answer and see how many points you get</p>
                <a href="https://aeroatlas.github.io/TriviaGame/" class="btn btn-primary">Check it out</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12">
          <div class="row">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; height: 28rem;">
            <img src="/images/projects/TrainActivityPic.png" class="card-img-top" alt="Train Activity">
              <div class="card-body">
                <h5 class="card-title">Train Activity</h5>
                <p class="card-text">A website that calculates when the next train will arrive</p>
                <a href="https://aeroatlas.github.io/Train-Activity/" class="btn btn-primary">Check it out</a>
              </div>
          </div>
          </div>

          <div class="row">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; height: 28rem;">
            <img src="/images/projects/Semi-Random-Reccs.png" class="card-img-top" alt="Random Movie Recomendations">
              <div class="card-body">
                <h5 class="card-title">Random Movie Recommendations</h5>
                <p class="card-text">A website for finding random movie or game recomendations</p>
                <a href="https://project2beta.herokuapp.com/" class="btn btn-primary">Check it out</a>
              </div>
          </div>
        </div>
        </div>

        </div>
    </section>
  </div>
  </div>