<link rel="stylesheet" href="/css/projects.css">


<div class="container" id="projects">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron jumbotron-fluid jumbotron-dark">
          <h1 class="display-4">My Projects</h1>
      </div>
    </div>
  </div>


    <section class="main-section" id="main-container" >


            <div class="row">
              <div class="col-md-6 myCol " id="col1">
                <div class="card text-white bg-dark fCard" id="fullCard1">
                  <img src="/images/projects/Project-SFW.png" height="300px" width="300px" class="card-img-top"
                    alt="Project-SFW">
                  <div class="card-body">
                    <h5 class="card-title">Gamified Company Testing Program</h5>
                    <p class="card-text">A gamified lesson and quiz web app with protected log in and charts for
                      comparing results
                    </p>
                  </div>
                  <ul class="list-group list-group-flush list-group-item-dark">
                    <li class="list-group-item list-group-item-dark">Uses: React.js, MongoDB, Node.js, Chart.js,
                      Bcrypt.js, HTML/CSS</li>
                    <li class="list-group-item list-group-item-dark">Role: React Pages, Front-End JavaScript,
                      Functionality</li>
                  </ul>
                  <div class="card-body">
                    <a href="https://project-sfw.herokuapp.com/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/Azorse/Project-SFW" target="_blank" class="card-link">Github</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 myCol" id="col2">
                <div class="card text-white bg-dark fCard" id="fullCard2">
                  <img src="/images/projects/Semi-Random-Reccs.png" height="300px" width="300px" class="card-img-top"
                    alt="Semi-Random Recomendations">
                  <div class="card-body">
                    <h5 class="card-title">Semi-Random Reccs</h5>
                    <p class="card-text">A website for finding random movie or game recomendations using several APIs
                    </p>
                  </div>
                  <ul class="list-group list-group-flush list-group-item-dark">
                    <li class="list-group-item list-group-item-dark">Uses: JavaScript, AJAX, Jquery, Handlebars, MySQL,
                      Bcrypt, HTML/CSS</li>
                    <li class="list-group-item list-group-item-dark">Role: Front-End JavaScript, AJAX, Jquery,
                      Front-End/Back-End Connection</li>
                  </ul>
                  <div class="card-body">
                    <a href="https://project2beta.herokuapp.com/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/AeroAtlas/Project2Beta" target="_blank" class="card-link">Github</a>
                  </div>
                </div>
              </div>

            </div>

         
            <div class="row">
              <div class="col-md-6 myCol" id="col3">
                <div class="card text-white bg-dark fCard" id="fullCard3">
                  <img src="/images/projects/Text-Based-RPG.png" height="300px" width="300px" class="card-img-top"
                    alt="Text-Based-RPG">
                  <div class="card-body">
                    <h5 class="card-title">Text-Based-RPG</h5>
                    <p class="card-text">A React web app for a Text RPG. Work in progress. Saves stats and story
                      progress/choices
                    </p>
                  </div>
                  <ul class="list-group list-group-flush list-group-item-dark">
                    <li class="list-group-item list-group-item-dark">Uses: React, Express, Node.js, Bootstrap, Flexbox,
                      MongoDB, HTML/CSS</li>
                    <li class="list-group-item list-group-item-dark">Role: Self-made - All Front-End and Back-End Code
                    </li>
                  </ul>
                  <div class="card-body">
                    <a href="https://text-based-rpg-atlas.herokuapp.com/" target="_blank" class="card-link">Live
                      Site</a>
                    <a href="https://github.com/AeroAtlas/text-based-rpg" target="_blank" class="card-link">Github</a>
                  </div>
                </div>
              </div>

              {{!-- Column for Row B2 --}}
              <div class="col-md-6 myCol" id="col4">
                <div class="card text-white bg-dark fCard" id="fullCard4">
                  <img src="/images/projects/Clicky-Game.png" height="300px" width="300px" class="card-img-top"
                    alt="Clicky-Game">
                  <div class="card-body">
                    <h5 class="card-title">Clicky Game</h5>
                    <p class="card-text">A React web app where you log in, start game, and click images to get a
                      highscore
                    </p>
                  </div>
                  <ul class="list-group list-group-flush list-group-item-dark">
                    <li class="list-group-item list-group-item-dark">Uses: React.js, MongoDB, Axios, Node.js, Express,
                      Bootstrap,
                      Node.js, HTML/CSS</li>
                    <li class="list-group-item list-group-item-dark">Role: Self-made - All Front-End and Back-End
                      Code</li>
                  </ul>
                  <div class="card-body">
                    <a href="https://memory-game-atlas.herokuapp.com/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/AeroAtlas/Clicky-Game" target="_blank" class="card-link">Github</a>
                  </div>
                </div>
              </div>
            </div>
       
    </section>

</div>