@font-face {
  font-family: 'a_charming_font_expandedRg';
  src: url('../fonts/achafexp-webfont.woff2') format('woff2'),
       url('../fonts/achafexp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  /* src: url(../fonts/Achafexp.ttf) format('truetype'); */
}

* {
  box-sizing: border-box;
}

body {
  /* background: url(../images/DarkBGPic.jpg); */
  background: url(../images/darkwoods.jpg);
}

.jumbotron {
  margin-top: 30px;
  background: none;
}

/* Main Page Font */
.display-4{
  font-size: 100px;
  font-weight: 500;
  background: url(../images/bgblank.png); opacity: 0.9;
}

.lead{
  font-size: 50px;
  background: url(../images/bgblank.png); opacity: 0.9;
}

#description { 
  background: url(../images/bgblank.png); opacity: 0.9;
  display: flex; 
  /* height: 30rem; */
  height: auto;
  /* width: 66rem; */
  width: auto;
  margin-bottom: 10px;
  margin-top: -40px;
  justify-content: space-evenly;
}
.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* You can set flex-wrap and
     flex-direction individually */
  flex-direction: row;
  flex-wrap: wrap;
  /* Or do it all in one line
    with flex flow */
  flex-flow: row wrap;
  /* tweak where items line
     up on the row
     valid values are: flex-start,
     flex-end, space-between,
     space-around, stretch */
  align-content: flex-end;
}


/* H1-3 Tags */
h1, h3 {
  text-align: center;
  font-family: 'a_charming_font_expandedRg';
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'a_charming_font_expandedRg';
}

p{
  text-align: center;
  font-family: 'a_charming_font_expandedRg';
  font-size: 40px;
}

#p0{
  color: darkred;
}

#p1{
  font-family: 'Time-New-Roman';
  font-size: 20px;
  text-align: left;
  color: darkblue;
  margin-top: -5px;
  margin-left: 60px;
}

#p2{
  /* font-family: 'Time-New-Roman'; */
  font-size: 40px;
  text-align: center;
  color: black;
  margin-top: -10px;
  margin-left: 80px;
  width: auto;
}


/* Nav Bar */
nav {
  background-color: black;
  border: 5px ridge #046ad0;
}

.navbar-brand {
  font-family: 'a_charming_font_expandedRg';
  font-size: 30px;
}

/* Phone and Tablet Sizing */

@media screen and (max-width: 768px) { 
  nav {
    flex-direction: column;
  }
  /* body {
    background: url(../images/bg2md.png);
  } */
}

@media screen and (max-width: 576px) { 
  /* body {
    background: url(../images/bg2smL.png);
  } */
  .display-4 {
    font-size: 75px;
  }
  .lead{
    font-size: 40px;
  }
  .jumbotron {
    margin: 15px 0 15px 0;
  }
  #description { 
    height: auto;
    width: auto;
    margin-bottom: 10px;
    /* margin-left: 21px; */
    justify-content: space-evenly;
  }

  #p0{
    color: rgb(82, 0, 0);
    font-size: 30px;
    width: 280px;
    margin-left: 25px;
  }
  
  #p1{
    font-family: 'Time-New-Roman';
    font-size: 20px;
    text-align: center;
    color: rgb(15, 2, 88);
    margin-top: -23px;
    margin-left: 35px;
    width: 280px;
  }
  
  #p2{
    /* font-family: 'Time-New-Roman'; */
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: -20px;
    margin-left: 55px;
    word-wrap: break-word;
    width: 280px;
  }

}


.conf-canvas{
  position: absolute;
  z-index: -1;
}


