@font-face {
  font-family: 'a_charming_font_expandedRg';
  src: url('../fonts/achafexp-webfont.woff2') format('woff2'),
       url('../fonts/achafexp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  /* src: url(../fonts/Achafexp.ttf) format('truetype'); */
}

* {
  box-sizing: border-box;
}

body {
  background: url(../images/darkbgwood.jpg);
}

.jumbotron {
  margin-top: 30px;
  background: none;
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

/* Main Page Font */
.display-4{
  font-size: 80px;
  font-weight: 500;
  color: white;
  background: url(../images/blackblank.jpg); opacity: 0.9;
}

.lead{
  font-size: 50px;
  color: white;
  background: url(../images/blackblank.jpg); opacity: 0.9;
}

#main-container {
  background: url(../images/blackblank.jpg);
  min-height: calc(100vh - 70px);
}

#card-container {
  margin-left: 450px;
}

.card-body{
  max-height: 215px;
  height: auto;
  width: auto;
  /* background-color: black;
  color:red; */
}



/* H1-3 Tags */
h1, h3 {
  text-align: center;
  font-family: 'times-new-roman';
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'times-new-roman';
}

#fullCard{
  width: 25rem;
}

/* Nav Bar */
nav {
  background-color: black;
  border: 5px ridge #046ad0;
}

.navbar-brand {
  font-family: 'a_charming_font_expandedRg';
  font-size: 30px;
}

/* Phone and Tablet Sizing */

/* @media screen and (max-width: 768px) { 
  .card-body{
    min-height: 235px;
  }

} */

@media screen and (max-width: 576px) { 
  body {
    background: url(../images/darkbgwood.jpg);
  }
  #card-container {
    margin-left: 0px;
  }
  .display-4 {
    font-size: 60px;
  }
  .lead{
    font-size: 40px;
  }
  #fullCard{
    width: 20rem;
    margin-right: 1.5px;
  }

  .card-body{
    max-height: 215px;
    background-color: black;
    color:red;
  }
  .jumbotron {
    margin: 15px 0 15px 0;
  }

}


.conf-canvas{
  position: absolute;
  z-index: -1;
}


