

.main-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100px;
  position: relative;
  z-index: 1000;
}


/* @media screen and (max-width: 1294px) {
  .main-header {

  }
} */

@media screen and (max-width: 803px) {
  /* .main-header {

  } */
  .navigation-bar{
    display: none;
   }
  .main-header h1:first-child{
    display: none;
   }

  h1 {
    padding: 0;
  }
  /* .main-header {
    min-height: 15vh;
  } */
}