.footer-wrapper {
  margin-left: -250px;
}

.footer{
  display: flex;
  font-size: 48px;
  /* justify-content: center; */
  justify-content: space-around;
  background-color: black;
  height: 100%;
  min-height: 92.4vh; /*85vh;*/
  box-shadow: 0px 1px 4px 2px black;
  /* transform: translateX(-150px); */
  width: 100px;
}


footer a {
  display: flex;
  align-items: center;
  color: var(--light);
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}


.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:85vh;
}

@media screen and (max-width: 803px) {
  .footer {
    height: auto;
    min-height: 0%;
    height: 75px;
    position: fixed;
    width:100%;
    bottom: 0;
    z-index: 1000;
  }
  .footer-nav {
    width: 100%;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
  }
  .footer a {
    align-items: baseline;
  }
}