.page-container {
  width: 80%;
  margin: auto;
  /* background-color: ; */
}

.page-container > h2 {
  background-color: #171d28;
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 1%;
  text-align:center;
  box-shadow: 2px 5px 5px black;
}

/* .page-container > h2:hover {
  background-color: #171d28;
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 1%;
  text-align:center;
  box-shadow: 10px 10px 10px black;
} */

@media screen and (max-width: 2327px) {
  .page-container {
    width: 90%;
    margin: auto;
  }
}

/* @media screen and (max-width: 1294px) {
  .page-container {
    width: 100%;
    margin: auto;
  }
} */