.navigation-bar {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.navigation-bar li span {
  font-size: 30px;
}


@media screen and (max-width: 1298px) {
  .navigation-bar li {
    width: 20%;
  }

  nav {
    width: 50%;
  }
}

/* @media screen and (max-width: 808px) {
  .navigation-bar li {
    width: 30%;
  }

  nav {
    width: 70%;
  }
} */

@media screen and (max-width: 803px) {
  nav {
    width: 100%;
    margin: auto;
  }
  .navigation-bar {
    /* flex-wrap: nowrap; */
  }
  .navigation-bar li {
    width:20%;
  }
  .navigation-bar li span {
    font-size: 20px;
  }
}