.about-me-page {
  width: 50%;
}

.about-me-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 10% 90%;
  
}

.about-me-section{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about-me-div-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about-me-container h3 {
    font-size: 1.75rem;
    text-align: center;
    background-color: black;
    padding: 5px;
    border: 2px solid black;
    margin: 2px;
}

.about-me-header{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: bold;
}

.about-me-text {
  background-color: rgb(147, 165, 191);
  padding: 20px;
  margin-bottom: 0px;
  border: 2px solid black;
  color: black;
}

.resume-link{
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.resume-link a{
  color: rgb(107, 248, 255);
}

/* .profile-img {
  transition: 0.5s;
  animation: cowmove 4s infinite; 
}

@keyframes cowmove{
  0% {
    transform: translateX(100px) rotateY(0deg);
  }
  49% {
    transform: translateX(500px) rotateY(0deg);
  }
  50% {
    transform: translateX(500px) rotateY(180deg);
  }
  100% {
    transform: translateX(100px) rotateY(180deg);
  }
} */

@media screen and (max-width: 803px) {
  .about-me-container {
    display: block;
  }
}